
.container {
  position: relative;
  max-width: 100%;
}
.text-overlay {
    position: absolute;
    top: 20%;
    left: 25%;
    font-style:normal;
    font-size: 35px;
    font-weight: bold;
    color:black;
    text-align: center;
    background-color:transparent;
    padding: 20px 20px; 
     }
  h1{
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-90%, -10%);
    font-size:0.7cm;
    background-color:transparent;  
    color:black;
    border:white;
    cursor: pointer}

